@font-face {
  font-family: "latoregular";
  src: url("/font/lato-regular-webfont.woff2") format("woff2"), url("/font/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "keep_calm_medregular";
  src: url("/font/keepcalm-medium-webfont.woff2") format("woff2"), url("/font/keepcalm-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybook";
  src: url("/font/gravity-book-webfont.woff2") format("woff2"), url("/font/gravity-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravityregular";
  src: url("/font/gravity-regular-webfont.woff2") format("woff2"), url("/font/gravity-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybold";
  src: url("/font/gravity-bold-webfont.woff2") format("woff2"), url("/font/gravity-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* sur Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* sur Safari et Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* sur Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#header {
  position: fixed;
  left: 0;
  height: 70px;
  display: block;
  width: 100%;
  background: #3330;
  z-index: 9;
  padding: 1%;
}

@media only screen and (max-width: 576px) {
  #header {
    position: fixed;
    left: 0;
    height: 70px;
    display: block;
    width: 100%;
    background: #3330;
    z-index: 9;
    padding: 0;
  }
}
.menu__title {
  font-family: Impact;
  font-size: 1.5em;
  padding: 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.menu__title:hover {
  color: orange;
}

.menu__title2 {
  font-family: Impact;
  font-size: 1.3em;
  padding: 1rem;
  cursor: pointer;
}
.menu__title2:hover {
  color: orange;
}

.burger-check {
  display: none;
}

.burger-check2 {
  display: none;
}

.burger-check3 {
  display: none;
}

.burger-check4 {
  display: none;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: #000;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transition: max-height 0.5s ease-in-out;
}

.navigation2 {
  overflow: hidden;
  max-height: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: #000;
  transition: max-height 0.5s ease-in-out;
}

.navigation3 {
  overflow: hidden;
  max-height: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: #000;
  transition: max-height 0.5s ease-in-out;
}
.navigation3 ul {
  margin: 0;
  padding: 1rem;
}
.navigation3 li {
  list-style: none;
  font-family: "gravitybold";
  font-size: 1em;
  padding: 0;
}
.navigation3 li a {
  text-decoration: none;
  outline: none;
}
.navigation3 li a:hover {
  color: orange;
  text-decoration: none;
}

.navigation4 {
  overflow: hidden;
  max-height: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: #000;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 80vh;
  transition: max-height 0.5s ease-in-out;
}

.burger-check2:checked ~ .navigation2 {
  max-height: 80vh;
  transition: max-height 0.5s ease-in-out;
}

.burger-check3:checked ~ .navigation3 {
  max-height: 80vh;
  transition: max-height 0.5s ease-in-out;
}

.burger-check3:checked ~ .navigation4 {
  max-height: 80vh;
  transition: max-height 0.5s ease-in-out;
}

a {
  color: white;
}

small {
  font-size: 14px;
}

ul {
  margin: 2rem;
  padding: 0;
}

li {
  list-style: none;
  font-family: "gravitybold";
  font-size: 1em;
  padding: 0.8rem;
}
li a {
  text-decoration: none;
  outline: none;
}
li a:hover {
  color: orange;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .menu__title {
    font-family: Impact;
    font-weight: bold;
    font-size: 1em;
    padding: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  .menu__title:hover {
    color: orange;
  }
}
.page-accueil {
  margin-top: 5vh;
}
.page-accueil h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 2px solid white;
}
.page-accueil h2 {
  font-family: keep_calm_medregular;
  padding: 1rem;
}
.page-accueil blockquote {
  margin-top: 20vh;
  font-family: latoregular;
  font-size: 1em;
}

@media only screen and (max-width: 576px) {
  .page-accueil {
    margin-top: 5vh;
  }
  .page-accueil h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    padding: 1rem;
    border-bottom: 2px solid white;
  }
  .page-accueil h2 {
    font-family: keep_calm_medregular;
    font-size: 1em;
    padding: 1rem;
  }
  .page-accueil blockquote {
    margin-top: 20vh;
    font-family: latoregular;
    font-size: 0.8em;
  }
}
.page-proche {
  width: 100%;
  max-height: 80vh;
}
.page-proche h1 {
  font-family: Impact;
}
.page-proche h2 {
  padding: 2rem;
}
.page-proche h3 {
  padding-bottom: 2rem;
}
.page-proche .prog__saison {
  max-height: 50vh;
  overflow: auto;
  padding: 2rem;
  text-align: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.page-proche .prog__saison .row {
  padding: 1rem;
}
.page-proche .prog__saison .prog-date {
  color: orange;
}

@media only screen and (max-width: 576px) {
  .page-proche {
    margin-top: 2rem;
    width: 100%;
    max-height: 80vh;
  }
  .page-proche h1 {
    padding-top: 2rem;
    font-size: 1.5em;
    font-family: Impact;
  }
  .page-proche h2 {
    font-size: 1em;
    padding: 2rem;
  }
  .page-proche h3 {
    padding-bottom: 2rem;
  }
  .page-proche .prog__saison {
    max-height: 50vh;
    overflow: auto;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  .page-proche .prog__saison .row {
    padding: 1rem;
  }
  .page-proche .prog__saison .prog-date {
    color: orange;
  }
  .page-proche .prog__saison h4 {
    font-size: 1em;
  }
  .page-proche .prog__saison h5 {
    font-size: 1em;
  }
  .page-proche .prog__saison h6 {
    font-size: 1em;
  }
}
.page-spectacle h1 {
  margin-top: 30vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 2rem;
  border-bottom: 1px solid white;
}
.page-spectacle blockquote {
  padding: 2rem;
  font-family: latoregular;
  font-size: 1em;
}
.page-spectacle .resa-buttons {
  margin-top: 10vh;
}
.page-spectacle .resa-buttons a {
  width: 50%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}
.page-spectacle .resa-buttons a.button-pro {
  color: orange;
  border: 1px solid orange;
}
.page-spectacle .resa-buttons a.button-pro:hover {
  background-color: orange;
  color: black;
}
.page-spectacle .resa-buttons a:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 576px) {
  .page-spectacle h1 {
    font-size: 1.5em;
    margin-top: 10vh;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 2rem;
    border-bottom: 1px solid white;
  }
  .page-spectacle blockquote {
    padding: 2rem;
    font-family: latoregular;
    font-size: 0.8em;
  }
  .page-spectacle .resa-buttons {
    margin-top: 5vh;
  }
  .page-spectacle .resa-buttons a {
    font-size: 1em;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
  }
  .page-spectacle .resa-buttons a.button-pro {
    color: orange;
    border: 1px solid orange;
  }
  .page-spectacle .resa-buttons a.button-pro:hover {
    background-color: orange;
    color: black;
  }
  .page-spectacle .resa-buttons a:hover {
    background-color: white;
    color: black;
  }
}
body {
  background-color: black;
  text-align: center;
  color: white;
}

.section {
  text-align: center;
}

.section a {
  outline: none;
}

.fade-bg {
  opacity: 0.2;
}

/*# sourceMappingURL=main.css.map */
