@font-face {
    font-family: 'Impact';
    src: url('./font/Impact.woff2'),
        url('./font/Impact.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('./font/lato-regular-webfont.woff2'),
         url('./font/lato-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keep_calm_medregular';
    src: url('./font/keepcalm-medium-webfont.woff2'),
         url('./font/keepcalm-medium-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravitybook';
    src: url('./font/gravity-book-webfont.woff2'),
         url('./font/gravity-book-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravityregular';
    src: url('./font/gravity-regular-webfont.woff2'),
         url('./font/gravity-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravitybold';
    src: url('./font/gravity-bold-webfont.woff2'),
         url('./font/gravity-bold-webfont.woff');
    font-weight: normal;
    font-style: normal;

}