@import 'partials/typo/_typo.scss';
@import 'partials/typo/var';
@import 'partials/composants/animations';
@import 'partials/composants/header';
@import 'partials/composants/_menu.scss';

body {
    background-color: black;
    text-align: center;
    color: white;
}
