@import 'partials/typo/typo';
@import 'partials/var';
@import 'partials/composants/animations';
@import 'partials/composants/header';
@import 'partials/composants/menu';
@import 'partials/composants/accueil';
@import 'partials/composants/proche';
@import 'partials/composants/spectacles';


body {
    background-color: $secondary-color;
    text-align: center;
    color: $main-color;
}
.section{
    text-align: center;
  }
  .section a{
    outline: none;
  }

  .fade-bg {
    opacity: .2;
  }