@import 'partials/typo/_typo.scss';
@import 'partials/typo/_var.scss';
@import 'partials/composants/_animations.scss';
@import 'partials/composants/_header.scss';
@import 'partials/composants/_menu.scss';
@import 'partials/composants/_accueil.scss';
@import 'partials/composants/_proche.scss';

body {
    background-color: black;
    text-align: center;
    color: white;
}
.section{
    text-align: center;
  }
  .section a{
    outline: none;
  }

  .fade-bg {
    opacity: .2;
  }