.section__accueil{
    .accueil__wrapper {
        .wrapper__title {
            h1 {
                
                font-family: $police_titre;
                font-size: 4em;
            }
            h2 {
                font-family: $police_sousTitre;
            }
        }
        .wrapper__quote {
            font-family: $police_texte;
            margin: 20vh 0vh 0vh 0vh;
            footer {
                color: $tertiary-color;
            }
        }
    }
}