.page-accueil{
    margin-top: 5vh;
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        padding: 1rem;
        border-bottom: 2px solid white;
    }
    h2 {
        font-family: keep_calm_medregular;
        padding: 1rem;
    }
    blockquote {
        margin-top: 30vh;
        font-family: latoregular;
        font-size: 1em;
    }
}