.section__contact {
    .contact__wrapper {
        color: $main_color;
        max-height: 70vh;
        .wrapper__title {
            h1 {
                font-family: $police-titre;
                font-size: 6vh;
            }
            h3 {
                font-family: $police-sousTitre;
            }
            h6 {
                font-family: $police-legende;
            }
        }
        .wrapper__line {
            border-bottom: 1px solid $main-color;
        }
        .wrapper__content {
            padding: 4vh 6vh 4vh 6vh;
            .content__coordonnees {
                text-align: left;
                .coordonnees__map {
                    overflow:hidden;
                    padding-bottom:56.25%;
                    position:relative;
                    height:0;
                    iframe {
                        left:0;
                        top:0;
                        height:100%;
                        width:100%;
                        position:absolute;
                    }
                }
                .coordonnees__contact {
                    font-family: $police-legende;
                }
                .coordonnees__reseaux {
                    padding: 0vh 0vh 0vh 1vh;
                    text-align: right;
                    img {
                        margin: 1vh 1vh 0vh 0vh;
                    }
                }
            }
            .content__description {
                font-family: $police-texte;
                color: $tertiary_color;
                text-align: justify;
            }
        }
    }
}