.menu {

  .burger-check {
    display: none;
    &.burger-check:checked ~ .navigation {
      max-height: 80vh;
      transition: $navigation__transition;
    }
  }
  .menu__title {
    margin: 10% 0% 0% 0%;
    font-family: $police_sousTitre;
    font-weight: 100;
    font-size: 1em;
    padding: 1em 0em 1rem 0em;
    color: $main-toggle-color;
    display: block;
    width: 90%;
    text-align: left;
    cursor: pointer;
    line-height: 0.5;
    background-color: $secondary-color;

    &:hover {
    color: $main-toggle-hover-color;
    }  
  }
  .title__gradient {
    background-image:linear-gradient( to right, $main-toggle-color , $secondary-color );
    height: 1px;
    &:hover {
      background-image: $main-toggle-hover-color;
  }
  }
  .navigation {
    overflow: hidden;
    max-height: 0;
    opacity: 1;
    background-color: $secondary-color;
    transition: $navigation__transition;

    .navigation__container {
      padding: 0 0 0 0;
  
      .container__item {
        list-style: none;
        background-color: $secondary-color;
        margin : 0px 0px 1px 0px;
        font-family: $police_texte;
        font-size: 1em;
        padding: 0.5em 0em 0.5em 0em;
        text-align: left;
        
  
        .item__link {
          text-decoration: none;
          outline: none;
          margin: 0px 0px 0px 10px;
          color: $main-color;
          
          
          &:hover {
              color: $main-toggle-hover-color;
              text-decoration: none;
          } 
        }
      }
      .container__sub-menu {
        list-style: none;
        .sub-menu__checkbox {
          display: none;
          &.burger-check3:checked ~ .navigation3 {
            max-height: 80vh!important;
            transition: $navigation__transition!important;
          }
        }
        .sub-menu__navigation.navigation3 {
          overflow: hidden;
          max-height: 0;
          border-radius: 5px;
          opacity: 1;
          background-color: $secondary-color; 
          transition: $navigation__transition;
          .navigation__container {
            .container__item {
              .item__link {
                text-decoration: none;
                outline: none;
                color: $main-toggle-color;
                  &:hover {
                    color: $main-toggle-hover-color;
                    text-decoration: none;
                    color: $main-toggle-hover-color;  
                } 
              }
            }
          }
        }
      }
    }
  }
}