.page__spectacle {
    .spectacle__wrapper {
        margin: 20vh 0vh 0vh 0vh;
        .wrapper__title {
            color: $main-color;
            font-family: $police_titre;
        }
        .wrapper__quote {
            font-family: $police_texte;
            margin: 2vh 0vh 0vh 0vh;
            footer {
                color: $tertiary-color;
            }
        }
        .wrapper__button {
            font-family: $police_button;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 5px;
            padding: .5vh;
            outline: none;
            text-decoration: none;
            width: 100%;
        }
        .wrapper__button-plus {
            border: none;
            margin: 5vh 0vh 5vh 0vh;
            p {
                padding: 1.2vh;
            }
            .border__gradient {
                background: linear-gradient(to right, $main-toggle-color, $secondary-color);
                height: 2px;
            }
            .border__gradient-reverse {
                background: linear-gradient(to left, $main-toggle-color, $secondary-color);
                height: 2px;
            }
        }
    }
}