.page-spectacle {
    
    h1 {
        margin-top: 30vh;
        font-family: Impact;
        padding: 2rem;
        border-bottom: 1px solid $main-color;
    }
    blockquote {
        font-family: $police_legende;
        padding: 2rem;
    }
    a{
        color: $main-color;
        font-family: $police_sousTitre;
        font-size: 1.5em;
        cursor: pointer;
    }
    .plus__gradient {
        background-image:linear-gradient( to left, $main-toggle-color , $secondary-color );
        height: 1px;
        width: 100%;
    }
    .resa-buttons {
        margin-top: 7vh;
        a {
            font-family: $police_button;
            font-size: 1em;
            width: 50%;
            padding: 1rem;
            border: 1px solid $main-color;
            border-radius: 5px;
            &.button-pro{
                color: orange;
                border: 1px solid orange;
                &:hover {
                    background-color: orange;
                    color: $secondary-color;
                }
            }
            &:hover {
                background-color: $main-color;
                color: $secondary-color;
            }
        }
    }
}

@media only screen and (max-width : 576px) {
    .page-spectacle {
        h1 {
            font-size: 1.5em;
            margin-top: 10vh;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding: 2rem;
            border-bottom: 1px solid $main-color;
        }
        blockquote {
            padding: 2rem;
            font-family: $police_legende;
            font-size: .8em;
        }
        .resa-buttons {
            margin-top: 5vh;
            a {
                font-family: $police_button;
                font-size: 1em;
                width: 100%;
                padding: .5rem;
                border: 1px solid $main-color;
                border-radius: 5px;
                &.button-pro{
                    color: orange;
                    border: 1px solid orange;
                    &:hover {
                        background-color: $main-toggle-hover-color;
                        color: $secondary-color;
                    }
                }
                &:hover {
                    background-color: $main-color;
                    color: $secondary-color;
                }
            }
        }
    }  
}

#lmdb-fiche-sectacle {
    width: 100%;
    margin: 0;
}