@import 'typo/typo.scss';

//couleurs
$main-color: #ffffff;
$main-toggle-color: #d6d6d6;
$main-toggle-hover-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #ffd3a2;
$menu-background-color: rgba(29, 26, 29, 0.7);
$sub-menu-background-color: rgba(49, 45, 54, 0.7);

//police
$police-menu: gravitybold;
$police_titre : Impact;
$police_sousTitre : gravityregular;
$police_button : keep_calm_medregular;
$police_legende : gravitybook;
$police_texte : latoregular;

//propriétés
$burger--thickness: 4px;

//Animation
$navigation__transition: max-height 0.5s ease-in-out;